@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #d6eaff,#738494,#708fad
, #91b8e0);
}
.btn{
padding: 0.75rem 2rem;
outline: none;
border: none;
font-size: 1rem;
color: var(--extra-light);
background-color: var(--primary-color);
border-radius: 5rem;
cursor: pointer;
transition: 0.3s;
}

.btn:hover {
background-color: var(--primary-color-dark);
}
nav {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
  }
  
  .nav__logo span {
    color: var(--primary-color);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .link a {
    padding: 0 1rem;
    color: var(--text-dark);
    transition: 0.3s;
    text-decoration: none;
  }
  
  .link a:hover {
    color: var(--primary-color);
  }
::selection{
  background: #1a75ff;
  color: #fff;
}
.container {
    width: 852px;
    background: -webkit-linear-gradient(left, #d6eaff,#738494,#708fad
, #91b8e0);
    margin: 0 auto;
    padding: 16px;
    position: absolute;
    top: 10rem;
  }
  
  .wrapper {
    margin: 8px 0;
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
  
  input {
    min-width: 20px;
    padding: 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
  }
  
  .button {
    /* padding: 8px 16px;
    min-height: 48px;
    min-width: 10px;
    word-wrap: nowrap;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; */
  padding: 4.75px 3rem;
  /* outline: none;
  border: none; */
  font-size: 1rem;
  color: var(--extra-light);
  background-color: rgb(139, 139, 255);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
  }
  
  input {
      order: 0;
      align-self: auto;  
  }
  
  .search {
    flex: 2 1 auto;
  }
  
  .date-from {
    flex: 1 1 auto;
  }
  
  .date-to {
    flex: 1 1 auto;
  }
  


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: -webkit-linear-gradient(left, #6182a5,#55799a,#5983ad
    , #67a4e0); 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}